<!DOCTYPE html>
<html>
    <!--POWERED BY BEACON-->
    {% include head.html %}
    <body ontouchstart="">
        <script src="/js/base.js"></script>
        <div class="navbar"><a href="/" class="pure">Ankit</a></div>
        <div style="height: 40px;"></div>
        <main>
            {{ content }}
        </main>
        <div class="footer">
            <div class="wrap">
                <p>Ankit 是一個幫助記憶知識的工具。</p>
                <p>Source Code: <a href="">Github</a></p>
                <p>Copyright © 2022 <a href="https://github.com/mic0x1/">mic0x1</a> all right reserved.</p>
            </div>
        </div>
    </body>
</html>